In [10]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.preprocessing import StandardScaler
import category_encoders as ce

In [11]:
df = pd.read_csv("kaggle_LoanPaybackModel/train.csv")
df.head()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0

In [12]:
df.describe()

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,loan_paid_back
count,593994.000000,593994.000000,593994.000000,593994.000000,593994.000000,593994.000000,593994.000000
mean,296996.500000,48212.202976,0.120696,680.916009,15020.297629,12.356345,0.798820
std,171471.442236,26711.942078,0.068573,55.424956,6926.530568,2.008959,0.400883
min,0.000000,6002.430000,0.011000,395.000000,500.090000,3.200000,0.000000
25%,148498.250000,27934.400000,0.072000,646.000000,10279.620000,10.990000,1.000000
50%,296996.500000,46557.680000,0.096000,682.000000,15000.220000,12.370000,1.000000
75%,445494.750000,60981.320000,0.156000,719.000000,18858.580000,13.680000,1.000000
max,593993.000000,393381.740000,0.627000,849.000000,48959.950000,20.990000,1.000000

In [13]:
df.corr(numeric_only=True)

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,loan_paid_back
id,1.000000,0.000775,-0.001679,0.001772,-0.001973,-0.001020,0.001387
annual_income,0.000775,1.000000,0.000553,0.001509,-0.003407,-0.002507,0.006326
debt_to_income_ratio,-0.001679,0.000553,1.000000,-0.061617,-0.008236,0.030316,-0.335680
credit_score,0.001772,0.001509,-0.061617,1.000000,-0.005761,-0.538335,0.234560
loan_amount,-0.001973,-0.003407,-0.008236,-0.005761,1.000000,-0.001174,-0.003762
interest_rate,-0.001020,-0.002507,0.030316,-0.538335,-0.001174,1.000000,-0.131184
loan_paid_back,0.001387,0.006326,-0.335680,0.234560,-0.003762,-0.131184,1.000000

In [14]:
Y = df["loan_paid_back"]
X = df.drop(["id","loan_paid_back"], axis = 1)

In [15]:
encoder=ce.OneHotEncoder(cols=['gender','marital_status','education_level','employment_status','loan_purpose','grade_subgrade'],handle_unknown='return_nan',return_df=True,use_cat_names=True)

In [16]:
X= encoder.fit_transform(X)
X = pd.get_dummies(data=X,drop_first=True)
X.head()

,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender_Female,gender_Male,gender_Other,marital_status_Single,marital_status_Married,...,grade_subgrade_E4,grade_subgrade_B3,grade_subgrade_E3,grade_subgrade_B5,grade_subgrade_E2,grade_subgrade_F3,grade_subgrade_A5,grade_subgrade_A3,grade_subgrade_A1,grade_subgrade_A2
0,29367.99,0.084,736,2528.42,13.67,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22108.02,0.166,636,4593.10,12.92,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,49566.20,0.097,694,17005.15,9.76,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,46858.25,0.065,533,4682.48,16.10,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,25496.70,0.053,665,12184.43,10.21,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
X = (X - X.min())/(X.max()-X.min())

In [18]:
X.head()

,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender_Female,gender_Male,gender_Other,marital_status_Single,marital_status_Married,...,grade_subgrade_E4,grade_subgrade_B3,grade_subgrade_E3,grade_subgrade_B5,grade_subgrade_E2,grade_subgrade_F3,grade_subgrade_A5,grade_subgrade_A3,grade_subgrade_A1,grade_subgrade_A2
0,0.060317,0.118506,0.751101,0.041856,0.588533,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.041576,0.251623,0.530837,0.084462,0.546374,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.112458,0.139610,0.658590,0.340592,0.368746,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.105467,0.087662,0.303965,0.086306,0.725126,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.050323,0.068182,0.594714,0.241114,0.394042,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
X.to_csv("X_Processed.csv", index=False)
Y.to_csv("Y_Processed.csv", index=False)