In [9]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import category_encoders as ce
import joblib

In [5]:
encoder=ce.OneHotEncoder(cols=['gender','marital_status','education_level','employment_status','loan_purpose','grade_subgrade'],handle_unknown='return_nan',return_df=True,use_cat_names=True)

In [39]:
ridge_model = joblib.load("ridge_model.joblib")
lasso_model = joblib.load("lasso_model.joblib")
DT_model = joblib.load("DT_model.joblib")
RF_model = joblib.load("RF_model.joblib")
XGB_model = joblib.load("XGB_model.joblib")
LGB_model = joblib.load("LGB_model.joblib")
CAT_model = joblib.load("CAT_model.joblib")

In [8]:
df_test = pd.read_csv("test.csv")
df_test = df_test.drop(["id"], axis = 1)
df_test= encoder.fit_transform(df_test)
df_test = pd.get_dummies(data=df_test,drop_first=True)
df_test= (df_test - df_test.min())/(df_test.max() - df_test.min()) 
df_test = df_test.sort_index(axis=1)
df_test.head()

,annual_income,credit_score,debt_to_income_ratio,education_level_Bachelor's,education_level_High School,education_level_Master's,education_level_Other,education_level_PhD,employment_status_Employed,employment_status_Retired,...,loan_purpose_Debt consolidation,loan_purpose_Education,loan_purpose_Home,loan_purpose_Medical,loan_purpose_Other,loan_purpose_Vacation,marital_status_Divorced,marital_status_Married,marital_status_Single,marital_status_Widowed
0,0.060776,0.508811,0.061688,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.108409,0.742291,0.133117,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.130640,0.475771,0.577922,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.052404,0.607930,0.160714,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.051136,0.645374,0.113636,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [13]:
predictions = ridge_model.predict(df_test)
np.savetxt('output_ridge.csv', predictions, delimiter=',')
df_new = pd.read_csv("test.csv")

In [14]:
out = pd.read_csv("output_ridge.csv")
out["id"] = df_new["id"]
order = ["id","loan_paid_back"]
out = out[order]
out.to_csv("predictions_ridge.csv", index=False)
out.head()

       id  loan_paid_back
0  593994        0.911111
1  593995        0.999832
2  593996        0.481999
3  593997        0.892241
4  593998        0.974689

In [15]:
predictions = lasso_model.predict(df_test)
np.savetxt('output_lasso.csv', predictions, delimiter=',')
df_new = pd.read_csv("test.csv")

In [16]:
out = pd.read_csv("output_lasso.csv")
out["id"] = df_new["id"]
order = ["id","loan_paid_back"]
out = out[order]
out.to_csv("predictions_lasso.csv", index=False)
out.head()

       id  loan_paid_back
0  593994        0.914072
1  593995        0.994954
2  593996        0.488707
3  593997        0.894977
4  593998        0.971862

In [18]:
predictions = DT_model.predict(df_test)
np.savetxt('output_DT.csv', predictions, delimiter=',')
df_new = pd.read_csv("test.csv")

In [19]:
out = pd.read_csv("output_DT.csv")
out["id"] = df_new["id"]
order = ["id","loan_paid_back"]
out = out[order]
out.to_csv("predictions_DT.csv", index=False)
out.head()

       id  loan_paid_back
0  593994        0.909110
1  593995        0.986585
2  593996        0.421053
3  593997        0.921329
4  593998        0.938720

In [27]:
predictions = RF_model.predict(df_test)
np.savetxt('output_RF.csv', predictions, delimiter=',')
df_new = pd.read_csv("test.csv")

In [28]:
out = pd.read_csv("output_RF.csv")
out["id"] = df_new["id"]
order = ["id","loan_paid_back"]
out = out[order]
out.to_csv("predictions_RF.csv", index=False)
out.head()

       id  loan_paid_back
0  593994        0.913839
1  593995        0.986793
2  593996        0.419928
3  593997        0.931942
4  593998        0.942229

In [33]:
predictions = XGB_model.predict(df_test)
np.savetxt('output_XGB.csv', predictions, delimiter=',')
df_new = pd.read_csv("test.csv")

In [34]:
out = pd.read_csv("output_XGB.csv")
out["id"] = df_new["id"]
order = ["id","loan_paid_back"]
out = out[order]
out.to_csv("predictions_XGB.csv", index=False)
out.head()

       id  loan_paid_back
0  593994        0.939639
1  593995        0.983053
2  593996        0.415683
3  593997        0.916938
4  593998        0.966826

In [36]:
predictions = LGB_model.predict(df_test)
np.savetxt('output_LGB.csv', predictions, delimiter=',')
df_new = pd.read_csv("test.csv")

In [37]:
out = pd.read_csv("output_LGB.csv")
out["id"] = df_new["id"]
order = ["id","loan_paid_back"]
out = out[order]
out.to_csv("predictions_LGB.csv", index=False)
out.head()

       id  loan_paid_back
0  593994        0.925468
1  593995        0.986952
2  593996        0.533920
3  593997        0.916773
4  593998        0.960720

In [48]:
test = pd.read_csv("test.csv")
test = test.drop(["id"], axis = 1)

In [49]:
predictions = CAT_model.predict(test)
np.savetxt('output_CAT.csv', predictions, delimiter=',')
df_new = pd.read_csv("test.csv")

In [50]:
out = pd.read_csv("output_CAT.csv")
out["id"] = df_new["id"]
order = ["id","loan_paid_back"]
out = out[order]
out.to_csv("predictions_CAT.csv", index=False)
out.head()

       id  loan_paid_back
0  593994        0.955354
1  593995        0.977613
2  593996        0.383128
3  593997        0.913712
4  593998        0.967935